.container {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
}

.login-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 30px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

body {
    background: lightgrey;
}

.message {
    margin: 0 0 20px 0;
}

input {
    margin-right: 100px;
    margin-bottom: 20px;
}

button {
    margin: auto;
}