<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebShop</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<header> My Shop</header>
<table class="categories">
    <tr>
        <td>
            <form action="/only-available">
                <!--        <a href="/only-available" class="button">Only available</a>-->
                <input type="submit" value="Only available"/></form>
        </td>
        <td>
            <form action="/cheapest-first">
                <input type="submit" value="Cheapest first"/></form>
        </td>
        <td>
            <form action="/contains-nike">
                <input type="submit" value="Only Nike"/></form>
        </td>
        <td>
            <form action="/average-stock">
                <input type="submit" value="Average stock"/></form>
        </td>
        <td>
            <form action="/most-expensive">
                <input type="submit" value="Most expensive available"/></form>
        </td>
    </tr>
</table>

<span th:if="${averageStock}" th:text="'Average stock: ' + ${averageStock}"></span>

<span th:if="${mostExpensive}" th:text="'Most expensive thing: ' + ${mostExpensive}"></span>

<form action="/search" method="post" class="searchBar">
    <label for="search"> Search for: </label>
    <br>
    <input type="text" placeholder="...something like Nike" id="search" name="search">
    <button onclick="location.href='/search'" type="submit"> Search</button>
</form>

<table class="itemlist">
    <tr class="itemTypes">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    <tr th:each="itemslist: ${itemsList}">
        <td th:text="${itemslist.name}"></td>
        <td th:text="${itemslist.description}"></td>
        <td th:text="${itemslist.price} + ' HUF'"></td>
        <td th:text="${itemslist.quantityOfStock}"></td>
    </tr>
</table>
</body>
</html>