<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WebShop</title>
    <meta charset="UTF-8">
</head>
<body>
<table border="1">
    <tr class="headerTitle">
        <td colspan="5">
            <a href="/webshop">My Shop</a>
        </td>
    </tr>
    <tr class="headerLinks">
        <td>
            <form action="/only-available">
                <!--        <a href="/only-available" class="button">Only available</a>-->
                <input type="submit" value="Only available"/></form>
        </td>
        <td>
            <form action="/cheapest-first">
                <input type="submit" value="Cheapest first"/></form>
        </td>
        <td>
            <form action="/contains-nike">
                <input type="submit" value="Only Nike"/></form>
        </td>
        <td>
            <form action="/average-stock">
                <input type="submit" value="Average stock"/></form>
        </td>
        <td>
            <form action="/most-expensive">
                <input type="submit" value="Most expensive available"/></form>
        </td>
    </tr>
</table>
<br>
<span th:if="${averageStock}" th:text="'Average stock: ' + ${averageStock}"></span>

<table border="1" bgcolor="ghostwhite">
    <tr class="itemTypes">
        <td>Name</td>
        <td>Description</td>
        <td>Price</td>
        <td>Quantity of stock</td>
    </tr>
    <tr th:each="itemslist: ${itemsList}">
        <td th:text="${itemslist.name}"></td>
        <td th:text="${itemslist.description}"></td>
        <td th:text="${itemslist.price} + ' HUF'"></td>
        <td th:text="${itemslist.quantityOfStock}"></td>
    </tr>
</table>
</body>
</html>