<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hot Page</title>
<body>

<a href="/submitpage">Submit new post</a>
<br>
<a href="/hotpage">Hot page</a>

<h1>Hot posts yooo</h1>

<table>
    <tr>
        <td>Votes</td>
        <td>Upvote</td>
        <td>Downvote</td>
        <td>Topic</td>
    </tr>
    <tr th:each="post: ${topPostList}">
        <td th:text="${post.voteCount}"></td>
        <td>
            <form th:action="'/upvote/' + ${post.id}" method="post">
                <button type="submit" name="upvote"> +</button>
            </form>
        </td>
        <td>
            <form th:action="'/downvote/' + ${post.id}" method="post">
                <button type="submit" name="downvote"> -</button>
            </form>
        </td>
        <td>
            <a th:href="'/post/' + ${post.id}" th:text="${post.title}"></a>
        </td>
    </tr>
</table>
</body>
</html>