<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Submit new post</title>
</head>
<body>
<form action="/submitpage" method="post">
    <label for="title"> Post title </label>
    <input type="text" id="title" name="title" required>

    <br>

    <label for="description"> Post description </label>
    <input type="text" id="description" name="description" required>

    <br>

    <button type="submit"> Save</button>
    <a href="/"></a>
</form>
</body>
</html>