<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Welcome to Trash Panda Club!</h1>

<p>Please give a name for your cutie:</p>
<form action="/login" method="post">
    <div class="imgcontainer">
        <img src="raccoon_happy.jpg" alt="Avatar" class="avatar">
    </div>

    <div class="container">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Bob">
    </div>

    <label for="food">Select it's first meal</label>
    <select name="food">
        <option id="food" th:each="foods: ${foodsList}" th:text="${foods}" th:value="${foods}">
    </select>
    <br>

    <label for="drink">Select it's first drink</label>
    <select name="drink" id="drinks">
        <option id="drink" th:each="drinks: ${drinksList}" th:text="${drinks}" th:value="${drinks}">
    </select>
    <br>
    <button type="submit"> GO</button>
</form>
</body>
</html>