body {
    background-color: #fff;
    font-family: "Arial";
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

header {
    color: deepskyblue;
    font-size: xx-large;
    border-bottom: thin solid deepskyblue;
}

a:visited {
    color: deepskyblue;
}

.categories {
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;

}

.itemlist {
    border-collapse: collapse;
    border-spacing: 10cm;
    border-color: white;
    text-align: left;
    width: 100%;
}

.itemlist td {
    padding: 15px 30px;
    background: whitesmoke;
}

.itemlist th {
    background: #71d9ff;
    padding: 15px;
    color: black;
    text-align: center;
}

.itemlist tr:nth-child(odd) td {
    background: white;
}

.itemlist tr td:nth-child(1) {
    font-size: large;
}

.itemlist tr td:nth-child(3) {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

.itemlist tr td:nth-child(4) {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

td, th {
    border: 2px solid white;
}

.categories input {
    padding: 6px 12px 3px 12px;
    width: auto;
    border: 3px solid orangered;
    border-radius: 5px;
    margin: 3px 6px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
}

label {
    color: orangered;
    font-size: small;
}

input#search {
    padding: 6px 200px 3px 12px;
    margin-bottom: 15px;
}

button {
    padding: 6px 12px 3px 12px;
    width: 100px;
    border: 3px solid orangered;
    border-radius: 5px;
    margin: 3px 6px;
    background-color: orangered;
    color: white;
}