body {
    background-color: #fff;
}

table a {
    color: deepskyblue;
    font-family: "Arial";
}

table.headerLinks:before {
    content: ' ';
    display: block;
    border: 2px solid deepskyblue;
}

table {
    border-collapse: collapse;
    border-spacing: 10cm;
    border-color: white;
    text-align: left;
    width: 100%;
    font-family: "Arial";
}

table td {
    padding: 15px 30px;
    background: whitesmoke;
}

table th {
    background: deepskyblue;
    padding: 15px;
    color: black;
    text-align: center;
}

table tr:nth-child(odd) td {
    background: white;
}

table, td {
    border: 2px solid white;
}

table thead tr th {
    border-bottom: 5px solid slategrey;
}

nav {
    padding-left: 15px;
}

button {
    padding: 6px 12px 3px 12px;
    width: 100px;
    font-family: Helvetica, Arial, sans-serif;
    border: 3px solid tomato;
    border-radius: 5px;
    margin: 3px 6px;
    background-color: orangered;
    color: white;
}