<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Todo CRUD App</title>
    <meta charset="UTF-8">
</head>
<body>

<a href="/todo">Home</a>
<br>
<a href="/assignees">Assignees</a>

<form action="/search" method="post">
    <br>
    <label for="search">Search:</label>
    <br>
    <input type="text" placeholder="Search for todo" id="search" name="search">
    <button onclick="location.href='/search'" type="submit"> Search</button>
</form>

<h2>Todos for today:</h2>

<a href="/todo/add">Add new todo</a>

<br><br>

<table border="1">
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Urgent</th>
        <th>Done</th>
        <th>Delete todo</th>
        <th>Edit todo</th>
        <th>Assignee</th>
    </tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.id}"></td>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td><a th:href="'/todo/' + ${todo.id} + '/delete'">Delete</a></td>
        <td><a th:href="'/todo/' + ${todo.id} + '/edit'">Edit</a></td>
    </tr>
</table>

</body>
</html>