<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Todo CRUD App</title>
    <meta charset="UTF-8">
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<a href="/todo">Home</a>
<br>
<a href="/assignees">Assignees</a>

<form action="/search" method="post">
    <br>
    <label for="search">Search:</label>
    <br>
    <input type="text" placeholder="Search for todo" id="search" name="search">
    <button onclick="location.href='/search'" type="submit"> Search</button>
</form>

<h2>Todos for today:</h2>

<a href="/todo/add">Add new todo</a>

<br><br>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Urgent</th>
        <th scope="col">Done</th>
        <th scope="col">Delete todo</th>
        <th scope="col">Edit todo</th>
        <th scope="col">Assignee</th>
    </tr>
    </thead>
    <tr scope="row" th:each="todo: ${todos}">
        <th th:text="${todo.id}"></th>
        <td th:text="${todo.title}"></td>
        <td th:text="${todo.urgent}"></td>
        <td th:text="${todo.done}"></td>
        <td><a class="btn btn-outline-secondary" th:href="'/todo/' + ${todo.id} + '/edit'">Edit</a></td>
        <td><a class="btn btn-outline-danger" th:href="'/todo/' + ${todo.id} + '/delete'">Delete</a></td>
    </tr>
</table>

</body>
</html>