<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accounts</title>
    <meta charset="UTF-8">
</head>
<body>
<h2>Animals account list</h2>
<table>
    <tr th:each="list: ${accounts}" th:style="${list.king} ? 'color:magenta' : 'color:black'">
        <td th:text="${list.id}"></td>
        <td th:text="${list.name}"></td>
        <td th:text="${list.balance} + '.00 ' + ${list.currency}"></td>
        <td th:text="${list.animalType}"></td>
    </tr>
</table>
</body>
</html>